{% extends 'asistentes/base.html' %}

{% block content %}
    <h1 class="mb-4">Asistentes Registrados</h1>
    <a href="{% url 'student_register' %}" class="btn btn-primary mb-3">Registrar Nuevo Asistente</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Universidad</th>
                <th>Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.nombre }}</td>
                    <td>{{ student.apellido }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.universidad }}</td>
                    <td>{{ student.fecha_registro }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
